#top_bar {
	
	text-align: right;
	padding: 20px;
}

a {

	font-family: arial, sans-serif;
	font-size: 13px;
	color: #404040;
	margin: 5px;

}

a:link, a:visited {

	text-decoration: none;

}

a:hover, a:active {
	
	text-decoration: underline;

}

#top_bar :nth-child(4) {

	background-color:  #707070;
	padding: 4px 12px;

}

#top_bar :nth-child(4):hover {

	background-color: #000000;

}

#top_bar :nth-child(5) {
	color: #FFFFFF;
	background-color: #4285F4;
	font-weight: bold;
	padding: 8px 16px;
	border-radius: 2px;
}

#main_logo {
	
	text-align: center;
	padding: 130px 10px 10px 10px;

}


#search {

	text-align: center;

}

#search form :first-child {
	
	width: 33%;
	margin-bottom: 10px;

}

#search form input {

	margin-left: 5px;
	margin-right: 5px;
	font-family: arial, sans-serif;
	font-size: 13px;
	
}

#bottom_bar {

	background-color: #EEEEEE;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 10px;
	width: 100%;
	text-align: center;

}

#bottom_bar div {
	display: inline;
}

#bottom_bar div a {
	margin: 0px 35px;
}


